.container {
  max-width: 800px;
  margin: 0 auto;
}

.search-container {
  display: flex;
  margin-bottom: 20px;
}

.search-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  font-size: 16px;
}

.search-button {
  padding: 10px 20px;
  border: 1px solid #007bff;
  background-color: #007bff;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 16px;
}
.movies-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px; 
}
.movie-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  overflow: hidden;
}

.movie-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.movie-details {
  padding: 10px;
}

.movie-title {
  font-size: 18px;
  margin-bottom: 5px;
}

.movie-year {
  font-size: 14px;
  color: #555;
}

.add-favorite-btn {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-favorite-btn:hover {
  background-color: #0056b3;
}
